.about-main{
    position:relative;
    left:2.3rem;
    bottom:0.4em;
     
    .about-image{
      position:relative;
      left:25rem;
      bottom:5rem;
      height:400px;
      width:20%;
     }

  .about-container{
    position:relative;
    left:7rem;
    bottom:30rem;
    background-color: rgb(163, 178, 179);
    width:60%;
    height:400px;
    padding:10px;

    .about-head1{
      position:relative;
      right:16rem;
      top:2rem;
  }
  .about-head2{
      position:relative;
      right:6rem;
      top:2rem;
  }
  .about-para{
      position:relative;
      top:3rem;
      left:15rem;
      width:60%;
      text-align: justify;
    text-justify: inter-word;
    font-family:nunito;
    padding:2px;
    }
  }

  .vl {
    position:relative;
    bottom:44rem;
    left:17rem;
    border-left: 6px solid rgb(6, 39, 6);
    height: 100px;
  }
}

  /* second para */
  .sec-para{

  .sec-image{
    position:relative;
    left:45rem;
    bottom:30rem;
    background-color: rgb(153, 202, 202);
    height:400px;
    width:40%;

    .upper-image{
      position:relative;
      top:2.5rem;
      right:6.6rem;
      width:45%;
      height:25rem;
    }
  }
  .sec-head{
      position:relative;
      bottom:45rem;
      .second-head{
        position:relative;
        right:26rem;
        bottom:7rem;
        font-weight: bolder;
      }
      .second-para{
        position:relative;
        left:15rem;
        bottom:7rem;
        width:30%;
        text-align: justify;
        text-justify: inter-word;
       
    }
  }
}
  
// third para
  .third-para{
      position:relative;
      bottom:9rem;
      .third-image{
        position:relative;
        left:11rem;
        bottom:30rem;
        background-color: rgba(236, 245, 245, 0.705);
        height:400px;
        width:40%;
        .lower-image{
          position:relative;
          top:2.5rem;
          left:7rem;
          width:45%;
          height:25rem;
        }
    }
    .third-head{
      position:relative;
      bottom:45rem;
      left:38rem;
     
      .third-head1{
        position:relative;
        right:27rem;
        bottom:7rem;
        font-weight: bolder;
      }
      .third-para1{
        position:relative;
        left:15rem;
        bottom:7rem;
        width:30%;
        text-align: justify;
        text-justify: inter-word;
      }
    }
  }

//final para

.final-para{
  .final-head{
    position:relative;
    bottom:46rem;
    right:23rem;
    font-family:nunito;
    font-weight:bold;
  }

  .final-main{
  .final-header{
    position:relative;
    bottom:48rem;
  }
  .final-parag{
    position:relative;
    bottom:47rem;
    left:36.5rem;
    width:600px;
    text-align: justify;
    text-justify: inter-word;
  }
 }
 .vll{
  position:relative;
  bottom:100rem;
  left:30rem;
 }
}

@media(max-width:575px){
  .App{
    overflow-x: hidden;
  }
   .banner-main{
     display:none;
   }
   .fa-chair{
    position:relative;
    // top:0.8rem;
    // right:32rem;
    left:1rem;
    font-size:2rem;
    color:green;   
  }
  .fa-search{
    position:relative;
    left:7rem;
    font-size:2rem;
    top:1rem;
    // bottom:4.5rem;
    // right:14rem;

  }
  .input-field{
    display:none;
  }
  .fa-cart-plus{
    position:relative;
   
   right:100rem;
    color:black;
 }

 .about-container{
  position:relative;
  // left:7rem;
  bottom:30rem;
  background-color: rgb(209, 222, 223);
  width:90%;
  height:400px;
  padding:10px;

  .about-head1{
    position:relative;
    // right:10rem;
    top:2rem;
}
.about-head2{
    position:relative;
    right:6rem;
    top:2rem;
}
.about-para{
    position:relative;
    top:3rem;
    left:15rem;
    width:60%;
    text-align: justify;
  text-justify: inter-word;
  font-family:nunito;
  padding:2px;
  }
}

.vl {
  position:relative;
  bottom:44rem;
  left:17rem;
  border-left: 6px solid rgb(6, 39, 6);
  height: 100px;
 }

}

