// .login-container{
//   height:50px;
//       .Login{

//         position:relative;
//         height:auto;
//         left:530px;
//         bottom:3rem;
//         width:400px;
//         background-color: #e2e5eb;
//         padding:50px;
//         border-radius:10px;
//       }

//       .password{
//         margin-right:14rem;
//       }
//       .email{
//         margin-right:12rem;
//       }
//       .check{
//         margin-right:10rem;
//       }
//       .light{
//         background-color: white;
//         color:black;
//       }
//       .light:hover{
//         background-color: #78BE20;
//         color:white;
//       }
//       .confirm{
//         margin-right:10rem;
//       } 
// }
// .btn-light{
//   margin-left:1rem;
//   background-color: #78BE20;
//   color:white;
// }



// .login-container {
//   height: 50px;
// }
// .login-container .Login {
//   position: relative;
//   height: auto;
//   left: 530px;
//   bottom: 3rem;
//   width: 400px;
//   background-color: #e2e5eb;
//   padding: 50px;
//   border-radius: 10px;
// }
// .login-container .password {
//   margin-right: 14rem;
// }
// .login-container .email {
//   margin-right: 12rem;
// }
// .login-container .check {
//   margin-right: 10rem;
// }
// .login-container .light {
//   background-color: white;
//   color: black;
// }
// .login-container .light:hover {
//   background-color: #78be20;
//   color: white;
// }
// .login-container .confirm {
//   margin-right: 10rem;
// }
// .btn-light {
//   margin-left: 1rem;
//   background-color: #78be20;
//   color: white;
// }


// .App {
//   font-family: sans-serif;
// }

// h1 {
//   text-align: center;
// }

// form {
//   max-width: 500px;
//   width: 100%;
//   margin: 0 auto;
// }

// label,
// input {
//   display: block;
//   width: 100%;
// }

// label {
//   margin-bottom: 5px;
//   height: 22px;
// }

// input {
//   margin-bottom: 20px;
//   padding: 10px;
//   border-radius: 3px;
//   border: 1px solid #777;
// }

// input.error {
//   border-color: red;
// }

// .input-feedback {
//   color: rgb(235, 54, 54);
//   margin-top: -15px;
//   font-size: 14px;
//   margin-bottom: 20px;
// }

// button {
//   padding: 10px 15px;
//   background-color: rgb(70, 153, 179);
//   color: white;
//   border: 1px solid rgb(70, 153, 179);
//   background-color: 250ms;
// }

// button:hover {
//   cursor: pointer;
//   background-color: white;
//   color: rgb(70, 153, 179);
// }
// .signup {
//   margin-left: 2rem;
// }

// input {
//   background-repeat: no-repeat;
//   background-position: 6px;
//   border: 1px solid #dadada;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   padding-left: 5px;
//   width: 310px;
//   height: 30px;
//   font-size: 14px;
// }

// .border {
//   border: 2px solid;
// }
// .text-danger {
//   color: red;
// }


.main-login{
     position:relative;
     border-radius:10px;
     left:30rem;
    //  border:1px solid black;
     width:30rem;
     height:27rem;
     padding:4rem;
     
     background-color: rgb(223, 223, 231);
    .email-login{
      position:relative;
      right:11.2rem;
      // margin-right:28rem;
      font-size: 1.5rem;
    }
    .password-login{
      position:relative;
      right:9.9rem;
      // margin-right:27rem;
      font-size: 1.5rem;
    }
    .input-login{
      position:relative;
      right:2rem;
      width:26rem;
      height:3rem;
      border-radius:10px;
      // border-color:rgb(68, 65, 62);
      border:none;
    }
    .input-feedback{
      position:relative;
      bottom:1.4rem;
      right:10.4rem;
      color:red;
    }
    .input-feedback1{
      position:relative;
      bottom:1.4rem;
      right:7rem;
      color:red;
    }
    .login-button{
      position: relative;
      right:6rem;
      width:5.6rem;
      height:3.2rem;
      border-radius: 2rem;
      font-size:1.4rem;
      background-color:#78BE20;
      color:white;
      border:none;
      &:hover{
        background-color: white;
        color:black;
      }
      
    }
    .signup-button{
      position: relative;
      right:4.5rem;
      width:5.6rem;
      height:3.2rem;
      border-radius: 2rem;
      font-size:1.4rem;
      background-color:white;
      color:black;
      border:none;
      &:hover{
        background-color:#78BE20 ;
        color:white;
      }
    }
}


// .App {
//   font-family: sans-serif;
//   text-align: center;
// }

.signup-main{
  margin-left:32rem;
  width:450px;
  height:680px;
  border-radius: 10px;
  background-color: rgb(223, 223, 231);
  padding:2rem;

  .signup-first{
    margin-right:13rem;
    font-size:1.4rem;
  }

  .input-signup{
    height:2.3rem;
    border-radius:4px;
    // margin-right:1rem;
    margin-left:1rem;
    width:330px;
    border:none;
    padding:1.5rem
  }
  .text-danger {
    position:relative;
    // bottom:0.1rem;
    right:4rem;
    color: red;
  }
  .signup-email{
    margin-right:16rem;
    font-size:1.4rem;
  }
  .text-danger2{
    position:relative;
    // bottom:0.6rem;
    right:5rem;
    color: red;
  }
  .signup-mobile{
    margin-right:15.3rem;
    font-size:1.4rem;
  }
  .text-danger1{
    position:relative;
    // bottom:0.6rem;
    right:3rem;
    color: red;
  }


.signup-password{
  margin-right:13.5rem;
  font-size:1.4rem;
}
.signup-confirm{
  margin-right:8.5rem;
  font-size:1.4rem;
}
  
.signup-btn{
  
  position: relative;
  right:4rem;
  width:5.6rem;
  height:3.2rem;
  border-radius: 2rem;
  font-size:1.4rem;
  background-color:#78BE20;
  color:white;
  border:none;
  &:hover{
    background-color: white;
    color:black;
  }
 }

 .login-btn{
  position: relative;
      right:3rem;
      width:5.6rem;
      height:3.2rem;
      border-radius: 2rem;
      font-size:1.4rem;
      background-color:white;
      color:black;
      border:none;
      &:hover{
        background-color:#78BE20 ;
        color:white;
      }
   }
}

// input {
//   background-repeat: no-repeat;
//   background-position: 6px;
//   border: 1px solid #dadada;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   padding-left: 5px;
//   width: 310px;
//   height: 30px;
//   font-size: 14px;
// }









