
.login {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin-left:32rem;
    height:550px;
}

.login > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}

.login > .button {
    background: #78BE20;
    /* border: 1px solid #1877f2; */
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}


.register {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin-left:32rem;
}

.register > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}

.register > .button:enabled {
    background: #78BE20;
    /* border: 1px solid #1877f2; */
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width:200px;
}
.register > .button:disabled {
    background: #d6dad2;
    /* border: 1px solid #1877f2; */
    color:black;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width:200px;
}

 .buttons2:enabled {
    position:relative;
    right:55px;
    margin-top:35px;
    background: #78BE20;
    /* border: 1px solid #1877f2; */
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    /* margin: 0.5rem 0; */
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width:200px;
}
 .buttons2:disabled {
     position:relative;
     right:55px;
    background: #d6dad2;
    /* border: 1px solid #1877f2; */
    color:black;
    font-size: 1.25rem;
    padding: 0.5rem;
    /* margin: 0.5rem 0; */
    margin-top:35px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width:200px;
}
.btn{
    margin-left:100px;
}
.name{
    margin-right:16rem;
}
.email{
    margin-right:18.3rem;
    font-size:20px;
}
.password{
    margin-right:16rem;
    font-size:20px;
}
.confirm{
    margin-right:12rem;
}
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 50vw;
    height: 50vh;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px grey;
    background: white;
    position: relative;
    left:22rem;
    top:10rem;
}

.homepage > .button {
    background: #78BE20;
    /* border: 1px solid #1877f2; */
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    text-decoration:none;
    outline: none;
    cursor: pointer;
}
.emailValid{
    margin-right:6rem;
    color:red;
}
.passValid{
    margin-right:1.3rem;
    color:red;
}
.repassValid{
    margin-right:1rem;
    color:red;
}
.check{
   position:relative;
   right:4rem;
}
.remember{
    position:relative;
    bottom:1.6rem;
    margin-right:10rem;
}


/* w3school */

.container{
    width:50%;
}

.check2{
    position:relative;
    top:25px;
    right:70px;
}
/* form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}  */

/* .buttons {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;  
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius:14px;
} */

/* .buttons:hover {
  opacity: 0.8;
} */
/* 
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
} */

/* .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
} */
/* 
.container {
  padding: 16px;
  height:85px;
} */
/* .container1{
    position:relative;
    bottom:70px;
} */

/* span.psw {
  float: right;
  padding-top: 16px;
} */
.check1{
    position:relative;
    /* leftpx; */
    right:0.6rem;
}

.remember{
    position:relative;
    left:5rem;
    /* top:3px; */
}
.input{
    margin-right:20px;
}
.remember2{
    position:relative;
    bottom:50px;
    left:95px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
  
 .buttons:enabled {
    background: #78BE20;
    /* border: 1px solid #1877f2; */
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}
 .buttons:disabled {
    background: #d6dad2;
   
    color:black;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

 /* .buttons2:enabled {
    background: #78BE20;

    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}
 .buttons2:disabled {
    background: #d6dad2;
 
    color:black;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
} */

