body{
    overflow-x:hidden;
}
// banner
.banner-main{
    background-color: #007398;
    padding:0.5rem;
    height:2.5rem;

    .banner-para{
        color:white;
    }
    
    .head-detail{
        text-decoration:underline;
    }
}


//header

.head{
    height:7rem;

    display:block;

    .fa-chair{
        position:relative;
        top:0.8rem;
        right:32rem;
        font-size:3rem;
        color:green;   
    }
    .fa-search{
        position:relative;
        // bottom:4.5rem;
        right:14rem;
    
    }
    .input-field{
        position:relative;
        // bottom:2.3rem;
        left:2rem;
        border-radius:8px;
        width:17rem;
        border:1px solid black;
      
    }
  

    .font-icon{
        position:relative;
        left:31.1rem;
   
    .fa-heart{
        position:relative;
        right:6.5rem;
        bottom:0.2rem;
    }
        .header-button{
            position: relative;
            right:31.9rem;
            border-radius:8px;
            border-color:black;
        }
    }

    .add-count{
        .cart{
            position:relative;
            top:1.6rem;
            left:2em;
            color:green;
        }
        .fa-cart-plus{
            position:relative;
         
            left:0.8rem;
            color:black;
        }
    }
}
// .add-cart{
//     position:relative;
//     bottom:15rem;
    
//     color:green;
 
// }

//navbar


.navbar-main{
    position:relative;
    bottom:4rem;
    background-color: #e2e4e5;
    padding:10px;
  
   
    .nav-link{
        color:#54585A;
        font-weight:bolder;
        font-size:15px;
        font-style: 32px;
        
    }
    .last-icon{
        position:relative;
        bottom:3.8rem;
        left:9.5rem;
        color:rgb(12, 11, 11);
    }
}


//content

.main-content{
    position:relative;
    left:16rem;
    bottom:25rem;

    .content-header{
        font-family: 'Nunito', sans-serif; 
        font-weight:bold;
        margin-left:1.5rem;
      }

      .content-para{
        font-family: 'Nunito', sans-serif;
        margin-left:8.5rem;
    }

    .content-para2{
        margin-left:2rem;
        font-style:1.6rem;
        font-weight:bold;
    }

    .fa-star{
        position: relative;
        left:24.9rem;
    }

    .content-add{
        position: relative;
        left:28rem;
        color:#007398; 
        font-weight:bold;
    }

    .anchor-review{
        position: relative; 
    
        right:9rem;
        color:#007398; 

        .adidas{
            color:#007398; 
        
        } 
    }

    .content-color{
        color:rgb(12, 9, 9);
    }

    .circle1{
    
        color:rgb(15, 13, 13);
    }
    .circle2{
        color:rgb(207, 14, 14);
    }
    .circle3{
        color:khaki;
    }
    .circle4{
        color:olive;
    }

    .fa-circle{
        position:relative;
        left:5.4rem;
        margin-right:0.3rem;
        font-size:4rem;
        
    }
    .active-color{
        border:.2rem solid green;
        border-radius:50%;
    }
    .content-price{
        margin-right:1rem;
    }
    .content-item{
        position:relative;
        left:17rem;
        bottom:2rem;
    }
    .content-horizontal{
        width:24rem;
        position:relative;
        left:42rem;
    }

    .content-quantity{
        position:relative;
      right:0.5rem;   
    }
    .dropdown-content{
   
        height:2rem;
        width:5rem;
    }
    .button-cart {
        background-color: #4CAF50; 
        border: 1px solid green;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius:6px;
        font-family:nunito;
        
      }
      .button-cart:hover{
          background-color:white;
      }
    .button-cart:hover{
         color:black;
      }
      .btn-outline-secondary{
        position:relative;
        bottom:2.4rem;
        background-color: #78BE20;
        margin-left:34rem;
    }
    
      .button11 {padding: 14px 40px;}
    
    .wishlist{
        position:relative;
        font-family: nunito;
        color:black;
        left:3.5rem;
     
        text-decoration: none;
    }
    .far5{
        position:relative;
        left:2.3rem;
        color:wheat;
    }
    
    .btn2-secondary{
        position:relative;
        bottom:2.4rem;
        
        margin-left:34rem;
        background-color: red;
    }
}

//mmdjkd end of review

//content Review

.review-page{

    .details{
        position:relative;
        top:2rem;
        font-size: 15px;

        .content-review{
            position:relative;
            right:39rem;
            bottom:17rem;
            
            font-family:'Nunito', sans-serif;
            font-style:0.8rem;
            font-weight:bold;
            text-decoration:none;
         }

         .content-review1{
            position:relative;
            bottom:18.6rem;
            // bottom:35rem;
            right:31rem;
            font-family:nunito;
            font-weight:bolder
          }

          .content-review2{
            position:relative;
            bottom:20.2rem;
            right:22.9rem;
            font-family:nunito;
            font-weight:bolder
         }

            
    .content-review3{
        
        text-decoration:underline;
        text-decoration-color: #78BE20;
        text-underline-offset: 3px;
        text-decoration-thickness: 0.2rem;
       
        position:relative;
        bottom:20.3rem;
        // bottom:40rem;
        right:22rem;
        }
       }         
     }

     .feedback-content{
        position:relative;
        bottom:18rem;

        .review-hori{
            position:relative;
            left:2rem;
            width:86rem;
        }

        .date-writer{
            position: relative;
            left:35rem;
            font-family:nunito ;
            .review-writer{
                margin-left:2rem;
            }
        }

        .review-rate{
            position:relative;
            right:40.4rem;
            bottom:3.3rem;
            font-family:nunito ;
        }

        .review-feedback{
            position:relative;
            bottom:5.2rem;
            left:10rem;
            text-align: justify;
            text-justify: inter-word;
            width:70.5%;
            font-family: nunito; 
        }
    }

  

div
{
.button-second {
    background-color: white;
    border: 1px solid #78BE20;
    color: #78BE20;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:6px;
   
    position: relative;
    bottom:5rem;

    &:hover{
        background-color:#78BE20
      }

      &:hover{
        color:white;
       }
  }
 
  .button10 {
      padding: 14px 40px;
    }
}


.review-submit{
    padding:10px;
    background-color:white;

    .field-item{
        position:relative;
        left:6px;
        font-family: nunito;
        font-weight: bolder;
       
        .feedback-item{
            position:relative;
            left:6px;
            width:28rem;
            border-radius:8px;
            height:50px;
            padding:10px;
            border:1px solid black;
        }
    }
}

.button-save {
    background-color: #78BE20; 
    border: 1px solid #78BE20;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:4px;

    &:hover{
        background-color:white;
      }

      &:hover{
        color:#78BE20;
       }
  }
  
  .button12 {padding: 10px 24px;}

  .feedback-title{
    font-family:nunito;
    font-weight: bolder;
}

.review-name{
    color:#007398;
    font-weight:bolder;
} 
//end of contentReview

//footer

.main-footer {
    position:relative;
    color: white;
    background-color: #A7A8AA;
    padding-top: 8rem;
    position: relative;
    margin-bottom:0px;

    .container{
        padding-bottom: 20px;

        .row{
            position:relative;
            bottom:5rem;

            .col2{
                position:relative;
                right:18rem;

                .main-div{
                    position:relative;
                    right:3rem;

                    .storage-main{
                        position:relative;
                        left:3.4rem;
                    }
                    
                    .shop-main{
                     position:relative;
                     left:1.9rem;
                    }
                }
            }

            .col1{
                position:relative;
                right:35rem;

                .footer-main{
                    position:relative;
                    right:3.3rem;
                    color:white;
                    text-decoration: none;
                }

                .link-footer{
                    text-decoration: none;
                }

                .footer-customer{
                    position:relative;
                    right:1.1rem;
                   }
                   .footer-privacy{
                       position:relative;
                       left:0.5rem;
                   }
              }
        }
       
        .footer-logo{
            position:relative;
            right:40rem;
            font-size: 3rem;
            color:green;
        }
    }
}

.input-subscribe{
    position:relative;
    left:24rem;
    bottom:18rem;

    .mail-para{
        position:relative;
        top:3.3rem;
        right:13rem;
        color:black;
       }
  }

  form{
    
    .footer-mail{
        position:relative;
        top:3rem;
        font-size:1rem;
        padding:1rem;
        border-radius:1rem;
        width:30rem;
       }

       .subscribe-btn{
        position:relative;
        top:3rem;
        margin-left:1rem;   
        background-color:#78BE20;
        font-size:1rem;
        color:white;
        border:none;
       
        border-radius:1rem;
        padding:1rem;

       &:hover{
            background-color: white;
            color:black;
        }
     }
  }

  .footer-router{
    position:relative;
    top:550px;
}
//end of footer

//page404
.page-main{
    height:5px;
    padding-bottom: 10px;
    margin:auto;

    .page-head{
        margin-right:40rem;
        font-size:70px;
    }

    .page-head1{
        margin-right:37rem;
        font-size:70px;
    }

    .page-hori{
        width:50px;
        margin-left:14rem;
        color:#1a2b05;
    }

    .page-para{
        margin-left:13rem;
        width:400px;
        text-align: justify;
        text-justify: inter-word;
    }

    .error-button{
        margin-right:80rem;
        background-color: #78BE20; 
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius:10px;
      width:200px;
    }
    .button1 {
        margin-right:52rem;
        padding: 14px 28px;
    }
}

//end of page404

//dialog
.explain{
    position:relative;
    bottom:2.5rem;
    left:10.6rem;
    height:2px;
    border:0px solid blue;
    background-color: #007398;
    color:mintcream;
    text-decoration:underline;
   &:hover{
        background-color: #007398;
        color:white;
    }
    
}

//end of dialog 


//carausal
.image {
    position: relative;
   
    bottom:2rem;
    left:5rem;
    width:35%;
    height:20rem; 
  }
  
.btn-second:hover{
    background-color: #78BE20;
}
.anchor-review{
    margin-left:40rem;
    font-family:'Nunito', sans-serif;
    font-style:0.8rem;
    font-weight:bold;
    text-decoration:none;
    color:#A7ABAA;
}

.add-count{
    position:relative;
    bottom:4.3rem;
    left:10.2rem;
}

.image-styles{
    border-color:green;
}

.addtrue{
    background-color: red;
}
.addfalse{
    background-color: white;
}

.wishtrue{
    background-color: red;
}
.wishfalse{
    background-color: white;
}

.imag{
    border:0.2rem solid green;
}

.Login{
   
        font-family: sans-serif;
        text-align: center; 
}

.dialog-modal{
    padding:10px;
    border-radius:10px;
    color:brown;
}

.add-list{
    color:rgb(68, 84, 85);
    text-decoration:none;
    font-family: nunito;

}
  
.btn-last{
    position:relative;
    right:15px;
    background-color: rgb(136, 71, 136);
 }

